$color--primary: rgb(239, 255, 250);
$color--blue: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$color--white: #fff;
$color--whiteimage: linear-gradient(hsl(236, 35%, 91%), hsl(240, 20%, 99%));
